*{
    padding: 0; margin: 0; box-sizing: border-box;
}
.container-full{
    width: 100%;
    height: 100vh;
}
body{
    
    cursor: url("./images/logo.png") , auto !important;
}
body{
   cursor: none; 
}
.inner-container{
    max-width: 1240px;
    margin: 0 auto;
}
.hero_section{
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
  object-fit: cover;
  background-image: url("./images/bg-01.png");
  position: absolute;
  top: 0;
  z-index: -1;
}
/* header{
position: relative;
} */
 .logo-text h3{
    font-size: 24px;
line-height: 40px;
color: #ffffff;
font-weight: bold;
margin-top: 20px;
}
.logo-text span{
    font-weight: 400;
}
.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero_img img{
   margin-top: 40px;
   height: 550px;
}
.hero_text h1{
    font-size: 72px;

color: #ffffff;
font-weight: bold;
text-transform: capitalize;
}
.hero_text p{
    font-size: 24px;
text-transform: capitalize;
color: #ffffff;
font-weight: 300;
}
.second_section{
    position: relative;
   
}
.img_second{
    background-image: url("./images/BG\ SHAPE.png");
    height:250vh;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 100%;
   
}
.circle_section{
    display: flex;
    flex-wrap: wrap;
    column-gap: 46px;
    justify-content: center;
}
.circle-outer{
    width: 379px;
height: 379px;
border-radius: 189px;
filter: drop-shadow(0px 12px 23px rgba(35,31,32,0.11));
background-image: linear-gradient(90deg, #ff8543 0%, #f13141 100%);
position: relative;
}
.circle-inner{
    width: 295px;
height: 295px;
border-radius: 148px;
filter: drop-shadow(0px 20px 24.5px rgba(35,31,32,0.32));
background-color: #ffffff;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
row-gap: 10px;
}
.circle2{
    top: 70%;
    left: 70%;
    transform: translate(-70%,-70%);
   
}
.circle3{
    top: 30%;
    left: 30%;
    transform: translate(-30%,-30%);  
}
.circle-inner h5{
  color: #ff8543; 
  font-size: 30px; 
  position: relative;
}
.circle-inner h5::after{
    content: '';
    height: 2px;
    width: 50px;
    background-color:#ff8543 ;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom:-3px;
}
.circle-inner h4{
    font-size: 25px;
}
.card{
    width: 406px;
height: 421px;
border-radius: 7px;
filter: drop-shadow(0px 20px 24.5px rgba(35,31,32,0.17));
background-color: #ffffff;
background-position-x: center;
}
.card img{
   display: flex;
   margin: 20px auto;
   padding-top: 85px;
}
.card-body{
    padding: 20px;
}
.card-body h4{
    font-size: 30px;
letter-spacing: 1px;
line-height: 45px;
color: #000000;
font-weight: bold;
text-transform: capitalize;
}
.card-body p{
    width: 330px;
height: 135px;
font-size: 14px;
letter-spacing: 0px;
line-height: 24px;
color: #000000;
}
.card_section{
    display: flex;
    column-gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    margin: 150px 0;
}
.app_card{
    width: 406px;
height: 502px;
border-radius: 7px;
filter: drop-shadow(0px 20px 24.5px rgba(35,31,32,0.17));
background-color: #ffffff;
}
.btn-more{
    width: 171px;
height: 46px;
border-radius: 23px;
filter: drop-shadow(0px 10px 8px rgba(0,0,0,0.2));
background-image: linear-gradient(90deg, #ff8543 0%, #f13141 100%);
font-size: 16px;
letter-spacing: 0px;
line-height: 45px;
color: #ffffff;
font-weight: bold;
/* display: flex;
margin: 5px auto; */
border: unset;
}
.btn_section{
    display: flex;
    justify-content: center;
}
.top_card img{
    margin-top: -60px;
    
    margin-left: 19px;
}
.heading{
    display: flex;
    justify-content: center;
}
.heading h2{
    font-size: 60px;
letter-spacing: 2px;
line-height: 45px;
color: #ffffff;
font-weight: bold;
}
.app_section{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 100px;
    margin-top: 100px;
}
.third_section{
    position: relative;
}
.oval-img{
    background-image: url("./images/Oval\ 5.png");
   height: 200vh;
   width: 100%;
  position: absolute;
   left: 0;
  top: 100%;
   background-repeat: no-repeat;
}
.testimonial_slider{
    margin-top: 100px;
    width: 650px;
    margin:  70px auto;
}
.card_slider{
    /* width: 624px; */
  
    margin: 0 auto;
height: 415px;
overflow-y: visible;
border-radius: 7px;
filter: drop-shadow(0px 20px 24.5px rgba(35,31,32,0.17));
background-color: #ffffff;
}
.item{
    position: relative;
}
.card_slider img{
    width: 150px !important;
    height: 150px !important;
    border-radius: 50%;
    object-fit: cover;
   margin: auto;
   position: relative;
 


}
.owl-carousel .owl-nav button.owl-next{
position: absolute;
top: 50%;
transform: translateY(-50%);
right: -20px;
font-size: 25px;
}
.owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    font-size: 25px;
    }
.owl-theme .owl-nav{
    font-size: 40px;
}